<div class="">
  <div class="headerSectionAf">
      <div class="row" style="background-color: white;">

          <nav class="navbar navbar-expand-md navbar-light bg-light lg headerSectionBf">
            <div class="container-fluid" style="justify-content: center;">
              <h1 class="hderPrt" >
                <span routerLink='/' class="t">{{titleName}} </span>
            </h1>
             </div>
          </nav>

      </div>

  </div>

  <div style="margin-top:7rem;">
    <router-outlet></router-outlet>
  </div>


</div>
