/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.title {
    font-size: 17px;
    /* font-weight: bold; */
    margin-left: 128px;
    margin-top: -12px;
}

.text {
    font-size: 11px;
    color: gray;
    margin-left: 128px;
    line-height: 15px;
    font-weight: 600;
    margin-top: 6px;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 329px;
    padding: 0 10px;
}

.nnn {
    margin-left: 33px;
}


/* Remove extra left and right margins, due to padding in columns */


/* Clear floats after the columns */


/* Style the counter cards */

.card {
    /* this adds the "card" effect */
    padding: 20px;
    height: 150px;
    width: 100%;
    display: block;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* .navbar-nav button:hover {
    box-shadow: 0 5px 5px rgba(52, 49, 49, 0.75);
} */

.navbar-nav button:focus,
.navbar-nav button:focus h2 {
    background: transparent;
    color: white !important;
}

.left {
    width: 35%;
    height: 100%;
    display: inline-block;
}

.right {
    width: 65%;
    height: 100%;
    display: inline-block;
    padding-left: 12px;
    position: absolute;
}

.b {
    margin-top: -72px;
    margin-left: -6px;
    height: 122px;
    width: 117px;
}

.form-control {
    width: 507px;
    margin-right: 928px;
    margin-top: -10px;
    height: 42px;
    border-radius: 8px;
}

.right .title a {
    color: darkblue;
    text-decoration: none !important;
}

.b1 {
    margin-top: -72px;
    margin-left: -6px;
    height: 122px;
    width: 117px;
}

.t {
    /* font-size: xx-large; */
    font-weight: bolder;
    color: #FFFFFF;
    margin-top: -45px;
    margin-left: 7px;
    font-size: 25px;
}

.t1 {
    margin-left: 7px;
    margin-top: 0px;
    /* font-size: x-large; */
    color: gray;
    display: block;
    font-size: 23px;
}

.hderPrt {
    /* margin-top: -11px; */
}

.t2 {
    /* height: 68px; */
    margin-left: 30px;
    margin-top: -10px;
}

.spacer {
    flex: 1;
}

.toolbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    background: white;
}

/* body {
    overflow-x: hidden;
} */



button.activeMenu {
    /* color: rgb(216, 32, 124); */
    margin: 13px;
    /* border-radius: 19px; */
    margin-left: 30px;
    margin-top: 28px;
    margin-bottom: 21px;
    background: transparent;
    box-shadow: none;
    border: none !important;
}

button.normalMenu {
    color: rgb(216, 32, 124);
    margin: 13px;
    border: rgb(216, 32, 124);
    border-radius: 19px;
    background-color: white;
    margin-left: 30px;
    /* width: 129px; */
    margin-top: 28px;
    margin-bottom: 21px;
}

.lg {
    margin-top: 100px;
    background: linear-gradient(to right, #cb2b5f 0%, #793986 77%);
    height: 90px;
}

.headerSectionBf {
    margin-top: 0px;
    width: 100%;
}

.headerSectionAf {
    position: fixed;
    margin-top: 0px;
    top: 0;
    z-index: 99999999;
    width: 100%;
}

.ot {
    width: 100%;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
}

.r1 {
    margin-left: 45px;
    background: linear-gradient(to right, #f6f6d0 0%, #d8f6e8 78%);
    border-radius: 15px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.h {
    font-size: xx-large;
    font-size: xx-large;
    font-weight: bold;
    /* margin-left: 38px; */
    /* margin-top: 22px; */
    /* width: 95%; */
    padding: 10px 12px 10px 17px;
}

.h1 {
    font-size: medium;
    line-height: 21px;
    /* margin-left: 291px; */
    /* margin-top: -27px; */
    font-weight: 600;
    /* width: 80%; */
    align-self: flex-end;
}


/* .r {
    margin-top: 29px;
}
 */

.b1 {
    margin-top: -96px;
}

.rr {
    /* margin-top: 19px; */
    margin-bottom: 29px;
}

.tt {
    margin-left: 126px;
    font-size: 17px;
    font-weight: bold;
    margin-top: -12px;
}

.r2 {
    margin-left: 45px;
    background-image: linear-gradient(to right, rgb(255, 173, 170), rgb(231, 229, 91));
    margin-top: 70px;
    border-radius: 15px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.h2 {
    font-size: medium;
    line-height: 21px;
    margin-left: 309px;
    margin-top: -27px;
    font-weight: 600;
    width: 80%;
}

.r3 {
    margin-left: 45px;
    background: linear-gradient(to right, #fdd7dc 14%, #edf6fd 86%);
    margin-top: 70px;
    border-radius: 15px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.h3 {
    font-size: medium;
    line-height: 21px;
    margin-left: 214px;
    margin-top: -27px;
    font-weight: 600;
    width: 80%;
}

.r4 {
    margin-left: 45px;
    background: linear-gradient(to right, #ffeeed 6%, #deefbc 67%);
    margin-top: 70px;
    border-radius: 15px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.h4 {
    font-size: medium;
    line-height: 21px;
    margin-left: 220px;
    margin-top: -27px;
    font-weight: 600;
    width: 80%;
}

.r5 {
    margin-left: 45px;
    background: linear-gradient(to right, #dcffeb 33%, #fcffed 93%);
    margin-top: 70px;
    border-radius: 15px;
    margin-bottom: 50px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.h5 {
    font-size: medium;
    line-height: 21px;
    margin-left: 125px;
    margin-top: -27px;
    font-weight: 600;
    width: 80%;
}

.p {
    position: relative;
    top: 0;
    left: 0;
}




