<div class="container">

    <div class="outSec">
        <div class="col-sm-12"  style="height:0px">
        </div>

        <div class="card">
            <div class="card-bodyy">
                <div class="misCnt">
                    <p>Sorry, the content you're looking for doesn't exist.</p>
                    <p>Either it was removed or you mistyped the link.</p>
                    <div class="btnsec">
                        <button type="button" class="btn btn-primary" routerLink='/'>Go to home</button>
                        <!-- <button type="button" class="btn btn-default" routerLink='/'>Contact us</button> -->


                    </div>

                </div>
            </div>


        </div>
        <div class="col-sm-12"  style="min-height: 60vh;">
        </div>


    </div>



</div>
